.dateParts {
  position: fixed;
  float: right;
  right: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "modal parts";
  & .partsWrapper {
    grid-area: parts;
    background: white;
  }
  & .modal {
    grid-area: modal;
    background: transparent;
  }
}

@media (orientation: landscape) {
  .dateParts {
    grid-template-columns: 80% 20%;
  }
}

.parts-enter {
  transition: all 250ms ease-in-out;
  opacity: 0;
  transform: translate(100%, 0);

  &.parts-enter-active {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.parts-exit {
  transform: translate(0, 0);
  transition: all 250ms ease-in-out;
  opacity: 1;

  &.parts-exit-active {
    transition: all 250ms ease-in-out;
    opacity: 0;

    transform: translate(100%, 0);
  }
}
