.linksWrapper {
  display: flex;
  flex-flow: column nowrap;
  width: fit-content;
  height: fit-content;
  justify-content: space-between;
  align-content: center;
  list-style: none;
  text-align: center;
  margin-left: auto;
  padding: 0;
  margin-right: auto;
  & li {
    color: white;
  }
}

@media (orientation: landscape) {
  .linksWrapper {
    flex-flow: row nowrap;
  }
}
