.linksWrapper {
  display: flex;
  flex-flow: column nowrap;
  width: fit-content;
  height: fit-content;
  justify-content: space-between;
  align-content: center;
  list-style: none;
  text-align: center;
  margin-left: auto;
  padding: 0;
  margin-right: auto;
  & li {
    color: white;
  }
  &.landscape {
    display: none;
  }
}

@media (orientation: landscape) {
  .linksWrapper {
    &.landscape {
      display: flex;
      margin-left: 10%;
      margin-right: auto;
      flex-flow: row nowrap;
      top: 50%;
      transform: translate(0, -50%);
      position: relative;
      & li {
        color: black;
      }
    }
  }
}
