.where {
  grid-area: where;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: "label label" "text radius";
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  & label {
    grid-area: label;
    font-size: 2.5vh;
    display: block;
    height: fit-content;
    width: fit-content;
    margin-left: 5%;
    top: 50%;
    position: relative;
    transform: translate(0, -50%);
  }
  & input {
    grid-area: text;
    font-size: 2vh;
    width: 80%;
    border: solid 0.2vh black;
    margin-left: 10%;
    height: 90%;
  }
  & select {
    grid-area: radius;
    font-size: 2vh;
    width: 80%;
    border: solid 0.2vh black;
    margin-left: 10%;
    height: 90%;
  }
}

@media (orientation: landscape) {
  .where {
    grid-area: where;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;

    & label {
      font-size: 2vh;
      margin-left: 10%;
      display: block;
      height: fit-content;
      width: fit-content;
      top: 50%;
      position: relative;
      transform: translate(0, -50%);
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    & input {
      font-size: 2vh;
      width: 30%;
      border: solid 0.2vh black;
      min-width: 20vh;
      height: 25%;
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      margin-left: 2%;
    }
    & select {
      font-size: 2vh;
      width: 25%;
      height: 25%;
      border: solid 0.2vh black;
      position: relative;
      min-width: 15vh;

      top: 50%;
      margin-left: 2%;

      transform: translate(0, -50%);
    }
  }
}
